-content_for :head do
  =javascript_include_tag 'jquery.imagePopup'

%div.tournament_index
  %div.new_tournament
    = link_to t('tournament.new'), new_tournament_path if can? :add, Tournament
  %div.tournament_grid
    -#%h4= pluralize(@tournaments.count, t('tournament.downcase'))
    = grid(@tournaments_grid) do |g|
      - g.column name: t('name'), attribute: 'tournament_name' do |tournament|
        - link_to tournament.tournament_name, tournament_path(tournament)
      - g.column name: t('tournament_start'), attribute: 'tournament_start' do |tournament|
        - short_date(tournament.tournament_start)
      - g.column name: t('tournament_finish'), attribute: 'tournament_finish' do |tournament|
        - short_date(tournament.tournament_finish)
      - g.column name: t('url'), attribute: 'place'
      - g.column name: t('url'), attribute: 'url' do |tournament|
        - link_to tournament.url, tournament.url if tournament.url
      - g.column name: t('external_url'), attribute: 'external_transmition_url' do |tournament|
        - link_to tournament.external_transmition_url, tournament.external_transmition_url if tournament.external_transmition_url
      - g.column name: t('edit')  do |tournament|
        - link_to t('edit'), edit_tournament_path(tournament) if can? :edit, Tournament
      - g.column name: t('delete')  do |tournament|
        - link_to t('delete'), tournament_path(tournament), method: :delete, confirm: t('delete_confirmation') if can? :edit, Tournament
