%div.results_table
  = grid(@results_grid, show_filters: :no) do |g|
    - g.column name: t('player') do |result|
      - link_to result.player.to_name, player_path(result.player)
    - g.column name: t('points'), attribute: 'points'
    - g.column name: t('mini_bucholtz'), attribute: 'mini_bucholtz'
    - g.column name: t('bucholtz'), attribute: 'bucholtz'
    - g.column name: t('berger'), attribute: 'berger'
    - g.column name: t('progress'), attribute: 'progress'
    - g.column name: t('avg_rating'), attribute: 'avg_rating'
- if defined? full_results
  %div.result_last_round
    - if results.present?
      %div.last_rounds_results
        = t('tournament.last_round')
      %div.last_round_games
        = render partial: "tournaments/games", locals: {round: results.first.tournament.rounds.last}
